.button-style {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto
}

h6 {
    margin-left: 15px;
}

#book-container {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
    padding-bottom: 20px;

}

.search-row {
    margin-bottom: 10px;
    content: center;
}

#search-field{
 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.button-style {
    margin-left: 5px;
}

.search-space{
    width: 60%;
}