.button-style {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto
}

h6 {
    margin-left: 15px;
}

#book-container {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
    padding-bottom: 20px;

}